/* Override default Mapbox Popup Styles */
.mapboxgl-popup-tip {
    display: none!important;
}

.mapboxgl-popup-content {
    position: relative;
    background: transparent!important;
    border-radius: 10px!important;
    box-shadow: 0 1px 2px rgba(27, 43, 28, 0.2)!important;
    padding: 0!important;
    pointer-events: auto;
    width: 300px!important;
    height: fit-content!important;
}

.active-vertical-menu-item,
.active-horizontal-menu-item {
  font-weight: 700;
}

/* Style the Mapbox Marker */
.mapboxgl-marker {
    width: 48px;
    height: 48px;
    background-color: #1b2b2c;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    opacity: 1;
    transition: opacity .2s;
}

.mapboxgl-marker:hover {
 box-shadow: 0 0 0 2px var(--dark-green), 1px 1px 0 3px var(--vivid-green), 2px 2px 0 3px var(--dark-green), 0 3px 2px 2px var(--box-shadow);
}

/*Style the Count on the Mapbox Marker*/
.race-count {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    background-color: #bff103;
    color: #1b2b1c;
    border-radius: 50%;
    width: 1.5em;
    font-size: 1em;
    height: 1.5em;
    font-weight: 700;
    align-items: center;
}

/* Default state: Outline visible, filled hidden */
#outlineHeart {
fill: #BFF103!important;
}

/* Filled Heart, initially hidden */
#filledHeart {
fill: #BFF103!important;
}

/* When class 'is-liked' is added to parent, hide outline and show filled */
.like-button.is-liked #outlineHeart {
display: none!important;
}

.like-button.is-liked #filledHeart {
display: inline!important;
}

